.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 98%;
    margin:20px 15px;
    column-gap: 1rem;
}

.item-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    padding: 2rem 1rem;
    border-radius: 10px;
}

.summary{
    margin-top: 1.5rem;
    display: inline-block;
    padding: 10px;
}